div h1{
    color: red;
    text-align: right;
    background-color: yellow;
}
div p{
    color: gold;
    background-color: aqua;
    text-align: center;
}
div button{
    color: blue;
    background-color: brown;
    text-align: left;
}