@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Kay+Pho+Du:wght@400;500;600;700&family=Noto+Sans+JP:wght@100..900&family=Sixtyfour+Convergence&display=swap');

#a{
    font-family: "Edu AU VIC WA NT Dots", cursive;
}

#b{
    font-family: "Edu AU VIC WA NT Guides", cursive;
}

#c{
    font-family: "Sixtyfour Convergence", sans-serif;
}

#d{
    font-family: "Kay Pho Du", serif;
}