h6{
    color: blue;
    background-color: yellow;
    font-size: 45px;
}
h5{
    color: aqua;
    background-color: blueviolet;
    font-size: 23px;
}
button{
    color: red;
    background-color: gold;
    font-size: 50px;
}