#x{
    background-color: black;
}

#a{
    color: yellow;
    text-shadow: 10px 10px 5px green;
}

#b{
    color: green;
}

#c{
    color: green;
}

#d{
    color: green;
}

#e{
    background-color: white;
}

#f{
    color: green;
}

#g{
    color: green;
    text-decoration: underline double;
}