input[type="text"]{
    border-radius: 15px;
    border: solid green;
}
input[type="surame"]{
    border-radius: 20px;
    border: dashed 7px red;
}
input[type="pasword"]{
    border-radius: 5px;
    border: dotted 30px purple;
}
input[type="email"]{
    border-radius: 30px;
    border: solid 2px blue;
}