h1{
    text-decoration: overline ;
    text-decoration-color: red;
    text-decoration: underline ;
    text-decoration-color: blue;
}
/*ვერაფრით ვერ გავაკეთე ის რომ underline blue იყოს და overline red-ი :( */