/*flex*/
/*inline-flex*/
/*
<div style="display: flex;">
    <div>1</div>
    <div>2</div>
</div>
*/
/*row*/
/*row-reverse*/
/*column*/
/*column-reverse*/
/*
<div style="display: flex; flex-direction: row-reverse;">
    <div>1</div>
    <div>2</div>
</div>
*/
/*flex-start*/
/*flex-end*/
/*center*/
/*space-between*/
/*space-around*/
/*space-evenly*/
/*
<div style="display: flex; justify-content: space-around;">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
*/
/*flex-start*/
/*flex-end*/
/*baseline*/
/*
<div style="display: flex; justify-content: baseline;">
    <div>1</div>
    <div>2</div>
    <div>3</div>
</div>
*/



